* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

header {
    background: black;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}